
body {
  background-color: #AEC6CF;
  font-family: Petit Formal Script;
}

#currentquote {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}
.mdl-card__supporting-text{  
  border-bottom: 2px solid;
}
.mdl-card {
  background-color: beige;
  margin: auto; 
  border: 3px solid;
  text-align: center;
}
.mdl-card__media {
  border-bottom: 2px solid;
  border-top: 2px solid;
  background-color: black;
}
.mdl-button{
  float: left;
}
.mdl-card__title {
  font-size: 1.5em;
}